<div class="calculator">
  <div class="calculator-display" [ngStyle]="{'font-size': getFontSize()}">{{ currentNumber }}</div>
  <div class="calculator-keys">
    <div class="operations">
      <button (click)="clear()">C</button>
      <button (click)="clearEntry()">CE</button>
      <button (click)="setOperation('%')" [disabled]="isError">%</button>
      <button (click)="setOperation('+')" [disabled]="isError">+</button>
      <button (click)="setOperation('-')" [disabled]="isError">-</button>
      <button (click)="setOperation('*')" [disabled]="isError">*</button>
      <button (click)="setOperation('/')" [disabled]="isError">/</button>
    </div>
    <div class="numbers">
      <button (click)="setNumber('7')">7</button>
      <button (click)="setNumber('8')">8</button>
      <button (click)="setNumber('9')">9</button>
      <button (click)="setNumber('4')">4</button>
      <button (click)="setNumber('5')">5</button>
      <button (click)="setNumber('6')">6</button>
      <button (click)="setNumber('1')">1</button>
      <button (click)="setNumber('2')">2</button>
      <button (click)="setNumber('3')">3</button>
      <button (click)="setNumber('0')" class="zero">0</button>
      <button (click)="setDecimal()">.</button>
      <button (click)="setOperation('=')" class="equals" [disabled]="isError">=</button>
    </div>
  </div>
</div>
