/* Estilos generales */
body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f0f8ff; /* AliceBlue */
  margin: 0;
  padding: 0;
}

header {
  background-color: #87ceeb; /* SkyBlue */
  border-bottom: 1px solid #4682b4; /* SteelBlue */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: white;
  margin: 0;
  font-size: 24px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #87cefa; /* LightSkyBlue */
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  color: #4682b4; /* SteelBlue */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.dropdown-content a:hover {
  color: #fff;
  background-color: #4682b4; /* SteelBlue */
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilos de los botones */
.dropbtn {
  cursor: pointer;
}

/* Ajustes de diseño para mejorar la apariencia minimalista */
nav ul li a,
.dropdown-content a {
  border-radius: 4px;
}

nav ul {
  padding: 10px 0;
}

/* Estilos de la sección hero */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  color: #4682b4; /* SteelBlue */
  font-size: 36px;
  margin: 0;
}

.hero p {
  color: #4682b4; /* SteelBlue */
  font-size: 18px;
  margin: 10px 0 0;
}

.wave {
  margin-top: 20px;
}
